<div class="img-text">
  <figure>
    <img class="logo" src="../../../assets/img/logo.jpg" title="李志 — 梵高先生"/>
    <figcaption>李志 — 梵高先生</figcaption>
  </figure>
</div>
<p>Hi, 我是Derker，很高兴在这里遇见你 :-)</p>
<p>我喜欢编程和写作，你可以通过<a href="tencent://message/?uin=893309018&Site=http://www.derker.cn&Menu=yes"><strong>QQ</strong></a>或<a href="mailto:893309018@qq.com"><strong>邮箱</strong></a>和我联系。</p>
<p>这个博客站点是使用 <a href="https://nodejs.org/"><strong>Angular</strong></a> 和 <a href=""><strong>Express</strong></a> 开发的，目前运行在<a
  href="https://www.qcloud.com"><strong>腾讯云</strong></a>上。</p>
<p>该站点的代码已提交到我的<a href="https://github.com/derker94"><strong>Github</strong></a>上，欢迎 Fork。</p>
