<html>
<% include head.ejs %>
<body>
<% include header.ejs %>
<main class="container about">
  <figure><img src="/static/img/logo.jpg" title="梵高先生 —— 李志">
    <figcaption>梵高先生 —— 李志</figcaption>
  </figure>
  <p><strong>1.</strong></p>
  <p>梵高先生是谁，我不知道。</p>
  <p><strong>2.</strong></p>
  <p>一年前，无意中听到一首歌，来自一名叫做李志的民谣歌手，歌名叫做梵高先生。</p>
  <p>奇怪的歌词，配上略带伤感的吉他旋律，散发出一种说不出的孤独。</p>
  <p>那位被调侃为B哥的男人，在一间不大的酒吧舞台上肆无忌惮地唱，“谁的父亲死了，请你叫我如何悲伤”。</p>
  <p>台下一片欢呼。</p>
  <p>好奇搜索了他的资料，一路坎坷：大学肄业，租房写歌，借钱出唱片……</p>
  <p>之后又看了他的演唱视频。从光头到长发，从年轻的放荡不羁到逐渐走向成熟。那位始终带着眼镜的男人，穿着黑色的T恤，有时光着膀子，抱一把吉他，在人群里嘶吼。声音喑哑低沉，仿佛不像是从喉咙里发出。</p>
  <p>后来又找到了他更多的视频，听了他所有的歌。他会在歌曲的间隙间拼命地吸烟，有时会喝酒；他会不时的和观众的调侃，话语中带着粗话；他会在唱到悲伤时流泪，唱到悲愤时摔掉吉他……</p>
  <p>而台下始终是一片欢呼。</p>
  <p>再后来，看到他说他不再唱《梵高》，原因不太清楚。</p>
  <p>他曾在《梵高》里写：我们生来就是孤独，我们生来就是孤单。</p>
  <p><strong>3.</strong></p>
  <p>几个月前，偶然看到一本书。书名叫作《渴望生活》，画家梵高的传记。</p>
  <p>文森特·梵高是这个世界上最孤独的人之一。欧文·斯通在这本书的前言里这样写道。</p>
  <p>
    不知道自己是什么时候开始听说梵高。也许是在小学的美术课上，老师指着某幅画说，它的作者是梵高；也许是在初中时看过的某本刊物杂志的封面上，印着那幅大名鼎鼎的《星空》；又或许是几年前在新闻里听说，一位叫做梵高的画家的画，以高价卖出。但直到后来，才认真地去搜集他的资料，了解他的平生。</p>
  <p>
    资料里，那位年轻的疯狂画家，为了追求自己的表姐把手掌烧烂；用剃须刀割掉自己的一只耳朵献给一个妓女。他一生穷困，画了近九百幅画作，卖出的却寥寥无几，经常需要靠弟弟提奥的资助才能度日；而后来他以赶乌鸦为由，向邻居骗了一把猎枪，最终在希望的麦田上，用那把枪对着自己的脑袋，狠狠地扣动了扳机。他临终时说，这苦难啊，永远也不会终结。</p>
  <p>
    我不懂得如何去品鉴他的画，更不知如何从中觉察出伟大的艺术气息。但我知道，那些明亮绚丽的，像是孩子所作的画，一定倾注了他一生的追求。我想知道，一个人，是在被逼到了怎样的境地或是在拥有了怎样的勇气或信念后，才能下定决心，痛痛快快地将自己处理掉。他画了《星空》，画了《向日葵》，画了《吃土豆的农民》，甚至还画了《自画像》，可终究还是倒在了自己的枪下。</p>
  <p>安妮在《最孤独的人》解释说，那是一种骚动激越的情绪纠缠在压抑而明丽的色彩中，令人不安的气息扑面而来。是暴雨之前的清新而寒冷的风。是灵魂无法突破的孤独。梵高终于发现，生命的疼痛滋长于自我挖掘的伤口。于是，他给自己开了一枪。</p>
  <p>李志是孤独的，梵高也是孤独的，在这个世界上还存在着无数孤独的人。他们唱着自己的歌，画着自己的画，在坚实的大地上仰望被城市建筑物分割的星空，过着无从选择的生活。他们不被理解，忍受而又享受着孤独。</p>
  <p><strong>4.</strong></p>
  <p>梵高先生是谁？我不知道。</p>
  <p>也许他只是普通人。</p>
</main>
<% include ../common/footer.ejs %>
</body>
</html>
