<footer class="text-center text-hint">
    <p>© 2022 powered by <a href="https://koajs.com/" target="_blank">Koa</a>.</p>
    <p><a class="text-hint" href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备2022002273号</a></p>
    <script src="//cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include('mp.ejs') %>
    <%- include('hm.ejs') %>
</footer>