<header>
    <div class="container">
        <img class="logo" src="/static/img/logo.jpg">
        <div class="nav-list">
            <% for (let category of categories){ %>
                <a href="<%= category.link || '/' + category.id %>" class="<%= activeCategory === category.id ? 'active' : '' %>"><%= category.name %></a>
            <% } %>
        </div>
    </div>
</header>
