<html>
<% include head.ejs %>
<body>
<% include header.ejs %>
<main class="container archives">
  <% for (let articles of data){ %>
  <h3><%= articles[0].date.getFullYear() %></h3>
  <ul class="articles-list">
    <% for (let article of articles){ %>
    <li>
      <time><%= moment(article.date).format('YYYY-MM-DD') %></time>
      —
      <a class="link-primary" href="/blog/<%= article._id %>"><%= article.title %></a>
    </li>
    <% } %>
  </ul>
  <% } %>
</main>
<% include ../common/footer.ejs %>
</body>
</html>
