<header>
  <div class="container">
    <img class="logo" src="/public/img/logo.jpg">
    <div class="nav-list">
      <a href="/" class="<%= page == 'home' ? 'active' : '' %>">Home</a>
      <a href="/archives" class="<%= page == 'archives' ? 'active' : '' %>">Archives</a>
      <a href="/moments" class="<%= page == 'moments' ? 'active' : '' %>">Moments</a>
      <a href="/about" class="<%= page == 'about' ? 'active' : '' %>">About</a>
    </div>
  </div>
</header>
