<html>
<% include head.ejs %>
<body>
<% include header.ejs %>
<main class="container home">
  <% for (let article of data){ %>
  <section class="article-abstract">
    <h2 class="position-relative">
      <a class="link-primary" href="/blog/<%= article._id %>"><%= article.title %></a>
      <span class="text-hint position-absolute-right"><%= moment(article.date).fromNow() %></span>
    </h2>
    <p><%= article.summary %>...</p>
  </section>
  <% } %>
</main>
<% include ../common/footer.ejs %>
</body>
</html>
