@import "variables";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: $page-font-size;
  color: $page-font-color;
  background-color: $page-background-color;

}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p, hr, figure, blockquote {
  margin: 1rem 0;
}

figure img {
  max-width: 100%;
}

figure figcaption {
  text-align: center;
  margin: $space-sm 0;
  font-size: $page-font-size-sm;
  color: $page-font-color-light;
  font-style: italic;
}

p {
  line-height: 1.4rem;
}

ul, ol {
  padding: 0;
}

a {
  color: $text-color-primary;
  text-decoration: none;
}

a:hover {
  color: $text-color-primary;
}

img {
  border-radius: 2px;
  vertical-align: text-bottom;
}

.main-wrapper {
  max-width: 660px;
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.text-color-light {
  color: $page-font-color-light;
}

.text-hint {
  font-size: $page-font-size-sm;
  color: $page-font-color-light;
}

.link-primary {
  color: $page-font-color;
}

.link-primary:hover {
  color: $page-font-color-dark;
}

.cursor-move{
  cursor: move;
}

.cursor-pointer{
  cursor: pointer;
}

.post-detail {
  blockquote, figure, p {
    margin: 1.25rem 0;
  }
  p {
    line-height: 1.75rem;
  }

  blockquote {
    padding: 0 1rem;
    border-left: 4px solid $text-color-primary;
    background-color: darken($page-background-color, 0.75%);
    color: lighten($page-font-color, 20%);

    p{
      margin: 0;
      padding: 0.5rem 0;
    }
  }
}
