/*dimension*/
$page-font-size-sm: 0.875rem;
$page-font-size: 16px;
$header-height: 40px;
$space-sm: 4px;
$space: 8px;
$space-lg: 16px;
$space-lg-x: 24px;

$post-list-cover-width: 120px;
$post-list-cover-height: 90px;

$writer-category-layout-width: 300px;
$writer-post-layout-width: 300px;
/*color*/
$page-font-color: #465064;
$page-font-color-light: lighten($page-font-color, 24%);
$page-font-color-dark: darken($page-font-color, 16%);
$page-background-color: #FBFBFF;
$text-color-primary: #1296db;
$text-color-primary-dark: darken($text-color-primary, 8%);

$header-divider-background-color: #ebeefa;

$post-list-divider-background-color: #d8dbe7;

$writer-category-layout-background: #3b4354;
$writer-category-layout-color: #a8b5cb;
