<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="SpringBootTest" packages="cn.derker">
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout
                    pattern="%highlight{%d %-5level %c{1.}: %m%n%throwable}{STYLE=Logback}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="cn.derker.blog" level="debug"/>
        <Logger name="org.springframework.transaction" level="debug"/>
        <Logger name="org.springframework.orm.jpa.JpaTransactionManager" level="debug"/>
        <Logger name="level.tk.mybatis" level="trace"/>
    </Loggers>
</Configuration>