$primary-color: #0099CC;
@import "~spectre.css/src/variables";
$error-color: #f33a23;
$body-font-color: #353d4e;
$gray-color: lighten($dark-color, 35%);
$body-font-family: $cjk-zh-font-family;
$page-width: 660px;
$font-size-smer: .6rem;
$page-background-color: #FBFCFC;
$nav-background-color: #FFFFFF;
$nav-height: 2.8rem; /*56px*/
$nav-height-sm: $nav-height - $unit-1; /*56px*/
$writer-category-panel-width: 240px;
$writer-category-panel-color: #c0c0c0;
$writer-category-panel-background-color: #36383e;
$post-category-panel-width: 300px;

