h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

body, button, input, select, textarea {
    font-weight: normal;
}

html, body {
    color: #48412a;
    background: #FFFFF8;
    font-family: "source-han-serif-sc", "SimSun", "\5B8B\4F53", charter, Georgia, Cambria, 'Times New Roman', Times, serif;
    line-height: 1.8;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

ul, ol {
    padding: 0 0 0 1em;
    margin: 0;
}

time {
    color: #b5b59c;
    font-weight: normal;
    font-family: monospace, ui-monospace;
}

a {
    text-decoration: none;
    color: #CD9B1D;
    transition: color 300ms;
}

h1 {
    margin: 24px 0;
}

h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, figure {
    margin: 16px 0;
}

pre {
    overflow-y: auto;
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 1em 1.5em;
    display: block;
    -webkit-overflow-scrolling: touch;
}

code, pre, pre tt {
    font-family: Courier, 'Courier New', monospace;
    border-radius: 3px;
}

p code {
    background: #efefd2;
    padding: 2px 4px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 16px 0;
}

li {
}

footer p {
    margin: 8px 0;
}

main {
    margin: 80px 0 32px 0;
}

table {
    width: 100%;
}

th {
    font-weight: bold;
}

th, td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefd2;
}

img {
    max-width: 100%;
    border-radius: 3px;
}

.container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-hint {
    color: #b5b59c;
    font-size: 14px;
    font-weight: normal;
}

.text-small {
    font-size: 12px;
}

.link-primary {
    color: #48412a;
}

.link-primary:hover {
    color: #CD9B1D;
}

.position-relative {
    position: relative;
}

.position-absolute-right {
    position: absolute;
    right: 0;
}

.position-absolute {
    position: absolute;
}

.divider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    height: auto;
    margin: 64px 0;
    font-size: 14px;
    color: #37474f;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1;
}

.divider:before, .divider:after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 50%;
    background-color: #efefd2;
    height: 1px;
    margin-top: .5em;
}

.divider .tip {
    padding: 0 16px;
}

/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFF8;
    z-index: 9999;
}

header .title {
    margin: 0 0 0 64px;
    line-height: 40px;
}

header .container {
    padding: 8px 0;
    position: relative;
    border-bottom: 1px solid #efefd2;
}

header .logo {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    left: 0;
}

header .nav-list {
    margin-left: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 800;
}

header .nav-list a {
    color: #37474f;
    padding: 0 16px;
    font-weight: 800;
}

header .nav-list a:hover {
    color: #CD9B1D;
}

header .nav-list .active {
    color: #CD9B1D;
}

/*login*/

.login p {
    margin: 4px 0;
}

.login form {
    width: 360px;
    margin: 0 auto;
}

.login .form-login input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #48412a;
    width: 100%;
    outline: none;
    font-size: 16px;
    background: transparent;
    margin-bottom: 16px;
}

.button-sm {
    background: #706845;
    padding: 4px 8px;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 14px;
}

.button-sm:hover {
    background: #48412a;
}

.button-block {
    width: 100%;
    padding: 12px 0;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background: #706845;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.button-block:hover {
    background: #48412a;
}

.login input:focus {
    border-bottom-color: #CD9B1D;
}

.login .img-code {
    width: 64px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
}

.login #input-code {
    margin-top: 12px;
    margin-bottom: 32px;
}

@media screen and (max-width: 720px) {

    header .container {
        padding: 8px;
    }

    header .logo {
        width: 32px;
        height: 32px;
        left: 8px;
    }

    header .title {
        font-size: 20px;
        line-height: 32px;
    }

    header .nav-list {
        line-height: 32px;
        overflow: hidden;
    }

    header .nav-list a {
        float: left;
        padding: 0 16px;
    }

    main {
        margin: 64px 0 32px 0;
        padding: 0 16px;
    }

    /*login*/
    .login form {
        width: 100%;
    }
}
