nav{
  width: 100%;
  position: fixed;
  background: #f4f8fa;
  z-index: 9999999;
}
.wrapper{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #eceff1;
  padding: 16px 0;
}

.logo {
  width: 48px;
  height: 48px;
  position: absolute;
  vertical-align: middle;
}

.items {
  text-align: center;
  line-height: 48px;
}

.item {
  color: #37474F;
  margin: 0 16px;
  padding-bottom: 8px;
}

.item:hover{
  color: #0F88EB;
}

.item.active {
  color: #0F88EB;
  border-bottom: 2px solid #0F88EB;
}

@media (max-width: 720px) {
  .logo {
    width: 30px;
    height: 30px;
    margin: 0 16px;
    position: static;
  }
  .wrapper{
    padding: 8px 0;
  }
  .items{
    display: inline-block;
    line-height: 30px;
  }
  .items .item{
    margin: 0 8px;
    padding-bottom: 4px;
  }
}
