<header>
  <div class="container">
    <a href="/"><img class="logo" src="/public/img/logo.jpg"></a>
    <div class="nav-list">
      <a href="/manage/articles" class="<%= page == 'articles' ? 'active' : '' %>">Articles</a>
      <a href="/manage/moments" class="<%= page == 'moments' ? 'active' : '' %>">Moments</a>
    </div>
  </div>
</header>
