body {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #373d44;
  background-color: #fbfcfc;
  margin: 0;
  padding: 0;
}

a {
  transition: color 0.3s;
  text-decoration: none;
}

img {
  border-radius: 3px;
}

p {
  margin: 16px 0;
}

p, li {
  line-height: 1.8;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-gray {
  color: #99a4b9;
}

.text-hint {
  color: #99a4b9;
  font-size: 14px;
}

.btn {
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  background: none;
  border: 1px solid #99a4b9;
  color: #6d7789;
  padding: 8px 16px;
  min-width: 48px;
  transition: color, background-color 0.3s;
}

.btn:hover {
  border-color: #1296db;
  color: #1296db;
  background: #F0F8FF;
}

.btn-text {
  color: #99a4b9;
  border: none;
  background: none;
}

.btn-text:hover {
  color: #373d44;
  background: none;
}

.btn-small {
  padding: 4px 8px;
  font-size: 14px;
}

.btn-primary {
  color: #ffffff;
  background: #1296db;
  cursor: pointer;
  outline: none;
  border: none;

}

.btn-primary:hover {
  background: #1082be;
  color: #ffffff;
}

.link-primary {
  color: #333333;
}

.link-primary:hover {
  color: #1296db;
}

.link-second {
  color: #99a4b9;
}

.link-second:hover {
  color: #1296db;
}

/*post页面*/
#post{
  margin-top: 32px;
}

#post a{
  color: #1296db;
  cursor: crosshair;
}

#post a:hover{
  color: #024a6e;
}

#post figure {
  width: 100%;
  padding: 0;
  margin: 32px 0;
  text-align: center;
}

#post figure img {
  max-width: 100%;
}

#post figure figcaption {
  font-size: 14px;
  text-align: center;
  margin: 8px 0;
  color: #6d7789;
  font-style: italic;
}

#post pre{
  overflow: auto;
  background: #f4f6f7;
  padding: 8px;
  border-radius: 3px;
  font-size: 14px;
}

#post .tex{
  text-align: center;
}

#post blockquote{
  background: #f4f6f7;
  margin: 0;
  padding: 10px 16px;
  border-left: 6px solid #1296db;
  border-radius: 2px;
  font-size: 15px;
}

#post blockquote>p{
  margin: 0;
}

.infinite-status-prompt{
  padding: 0!important;
}

@media screen and (max-width: 720px) {
  #post figure {
    margin: 16px 0;
  }
}
