.divider{
  position: relative;
  display: flex;
  white-space: nowrap;
  height: auto;
  margin: 64px 0;
  font-size: 14px;
  color: #37474F;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: 1;
}

.divider:before {
}

.divider:before, .divider:after {
  content: '';
  display: flex;
  position: relative;
  width: 50%;
  background-color: #d9e2e6;
  height: 1px;
  margin-top: 0.5em;
}

.tip{
  padding: 0 16px;
}


